﻿@model MHA.Models.HomeModel

<div>
    <div class="row bg-sand-biege">
        <div class="container padding-x50">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="primary-size color-magenta font-xx-large uppercase">@Model.CarouselBlock.CarouselTitle</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide">
                    <ol id="carousel-indicator" class="carousel-indicators">
                        @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>*@
                        @{
                            var carouselCount = 1;
                            var panelCount = 1;
                        }
                        @foreach (var carouselItem in Model.CarouselBlock.CarouselItems)
                        {
                            @*if (carouselCount != 1 && carouselCount % 4 == 1)
                            {
                                <li data-target="#myCarousel" data-slide-to="@panelCount"></li>
                                panelCount++;
                            }
                            carouselCount++;*@
                        }
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                @{
                                    carouselCount = 0;
                                }

                                @foreach (var carouselItem in Model.CarouselBlock.CarouselItems)
                                {
                                    if (carouselCount != 0 && carouselCount % 4 == 0)
                                    {
                                        @:</div>
                                        @:</div>
                                        @:<div class="item">
                                        @:<div class="row">
                                    }                            
                                    carouselCount++;
                                    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                                        <img class="thumbnail" src="@carouselItem.ItemImageUrl" alt="Image" style="width:100%;">
                                        <span class="carousel-header color-magenta medium bold">@carouselItem.ItemTitle</span>
                                        <p>@carouselItem.ItemText</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @*<a data-slide="prev" href="#myCarousel" id="left-carousel-arrow" class="left carousel-control"><i class="fa fa-angle-left fa-4"></i></a>*@
                @*<a data-slide="next" href="#myCarousel" id="right-carousel-arrow" class="right carousel-control"><i class="fa fa-angle-right fa-4"></i></a>*@
            </div>
        </div>
    </div>
</div>