﻿@model MHA.Models.HomeModel

<div class="wrapper">
    @Html.Partial("ImagePartial", Model)
    @Html.Partial("InformationPartial", Model)
    @Html.Partial("CarouselPartial", Model)
    @Html.Partial("LocationPartial", Model)
    @Html.Partial("RegisterPartial", Model)

    <!-- WRAPPER CLOSE -->
    <div class="push"></div>

    <!-- /******** footer component DESKTOP ONLY ********/ -->
    <div class="footer hidden-sm hidden-xs">
        <div class="container padding-x20">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li><a href="#">&copy;&nbsp;2018 MHA&nbsp;&nbsp;&nbsp;</a></li>
                        <!--<li><a href="#">Terms & Conditions&nbsp;&nbsp;&nbsp;</a>&#124;</li>
                        <li><a href="#">Privacy</a></li>-->
                    </ul>
                </div>
                <div class="col-md-6 pull-right">
                    <p>MHA is a Registered Charity in England & Wales (No. 1083995). Company limited by Guarantee (No. 4043124). Registered Office: MHA, Epworth House, Stuart Street, Derby, DE1 2EQ</p>
               </div>
            </div>
        </div>
    </div>
    <!-- /******** footer component MOBILE ONLY *********/ -->
    <div class="footer visible-sm visible-xs text-center">
        <div class="container padding-x20">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li><a href="#">&copy;&nbsp;2018 MHA&nbsp;&nbsp;&nbsp;</a></li>
                        <!--<li><a href="#">Terms & Conditions&nbsp;&nbsp;&nbsp;</a>&#124;</li>
                        <li><a href="#">Privacy</a></li>-->
                    </ul>
                </div>
                <div class="col-md-6  text-center">
                    <p>MHA is a Registered Charity in England & Wales (No. 1083995). Company limited by Guarantee (No. 4043124). Registered Office: MHA, Epworth House, Stuart Street, Derby, DE1 2EQ</p>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /******** footer component ********/ -->
    <!-- /.container -->
</div>

