﻿@model MHA.Models.HomeModel

<!-- /******** Header component ********/ -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 component-header">
        <div class="text-center "><a href="http://www.mha.org.uk" target="_blank"><img src="/img/brand.jpg" height="75" width="124" class="fade-me-hover"></a></div>
    </div>
</div>

<!-- /******** Header component ********/ -->
<div class="row">
    <div class="col-md-12 header-img">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center nested-header padding-0 nested-block">
                <div class="col-md-12 col-sm-12 nested-bar bg-magenta">
                    <p class="primary-size default-white uppercase font-x-large">@Model.ImageBlock.BoxTitle</p>
                </div>
                <div class="nested-panel">
                    @Model.ImageBlock.BoxText
                    <p class="padding-x10">
                        <a href="#bottom" id="top" class="btn btn-lg btn-default uppercase bg-magenta default-white" style="margin-top: 10px;">@Model.ImageBlock.ButtonText</a>&nbsp;
                        <a href="/maidment_sales.html" class="btn btn-lg btn-default uppercase bg-magenta default-white" style="margin-top: 10px;">Sales Brochure</a>&nbsp;
                        <a href="/maidment_site.html"class="btn btn-lg btn-default uppercase bg-magenta default-white" style="margin-top: 10px;">Site Plan Brochure</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>