﻿@model MHA.Models.HomeModel
    
<div class="container padding-x20">
    <div class="starter-template">
        <h2 class="primary-size color-magenta font-xx-large uppercase">@Model.InformationBlock.Title</h2>
        <h3 class="secondary-size color-savannah-biege font-x-large uppercase padding-x5">@Model.InformationBlock.Subtitle</h3>
        <hr>
        <h4 class="color-savannah-biege font-large">
            @Model.InformationBlock.Heading
        </h4>
        @Html.Raw(Model.InformationBlock.Text)
    </div>
</div>