﻿@model MHA.Models.HomeModel

<div class="container padding-x50">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="primary-size color-magenta font-xx-large uppercase">Development Location</h2>
            <h3 class="secondary-size color-savannah-biege font-x-large uppercase padding-x5">@Model.LocationBlock.LocationName</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <h4 class="color-savannah-biege font-large">@Model.LocationBlock.Subtitle</h4>
            @Html.Raw(Model.LocationBlock.Text)
        </div>
        <div class="col-md-6 col-xs-12">
            <a href="@Model.LocationBlock.GoogleMapsUrl" target="_blank">
                <img src="@Model.LocationBlock.MapPath" class="img-responsive fade-me-hover">
            </a>
        </div>
    </div>
</div>