﻿@using Umbraco.Core.Services
@model MHA.Models.HomeModel

@{
    var umbracoPublisher = new UmbracoHelper(UmbracoContext.Current);
    var homeNode = umbracoPublisher.TypedContent(UmbracoContext.Current.PageId);
    var csService = ApplicationContext.Current.Services.ContentTypeService;
    var regBlockType = csService.GetContentType("RegisterBlock");
    var regBlockNode = homeNode.Children().First(node => node.ContentType.Alias == regBlockType.Alias);
    var hideTopBox = regBlockNode.GetPropertyValue("hideTopBox").ToString();
    var hideInline = "";

}

@if (hideTopBox == "True")
{
    hideInline = "display:none;";

}
<div class="row bg-magenta padding-x50" style="@hideInline">
    <div class="container">
        <div class="col-md-2 col-sm-2">
            <img src="/img/calender-magenta-bg.jpg">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-12">
            <p class="font-large default-white padding-x30">@Model.RegisterBlock.BoxTitle</p>
        </div>
    </div>
</div>

<a href="#top" id="bottom"></a>
<div class="row bg-sand-biege padding-x50 padding-x30-xs">
    <div class="container padding-right-x40">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="primary-size color-magenta font-xx-large uppercase">@Model.RegisterBlock.Title</h2>
                <hr>
                <h4 class="color-mushroom-brown font-large register-header">@Model.RegisterBlock.Text</h4>
            </div>
        </div>

        @{
            //dev-mha wellesley 61191590166355
            //dev-mha maidment 61245137199358
            //LIVE-mha wellesley
            //LIVE-mha maidment
            var jotFormId = Model.RegisterBlock.JotFormId;
            var actionLink = "https://submit.jotformeu.com/submit/" + Model.RegisterBlock.JotFormId + "/";
            var jotFormName = "form_" + Model.RegisterBlock.JotFormId;
            var jotFormValueDashValue = Model.RegisterBlock.JotFormId + "-" + Model.RegisterBlock.JotFormId;

        }

        <form class="jotform-form" action="@actionLink" method="post" name="@jotFormName" id="@jotFormId" accept-charset="utf-8">
            <input type="hidden" name="formID" value="@jotFormId" />
            <div class="row form-all">
                <div class="col-md-6 col-sm-12 form-section page-section" style="margin-bottom: 40px;">

                    <div class="contourField name textfield mandatory form-line jf-required" data-type="control_textbox" id="id_5">
                        <label for="input_5" class="fieldlabel form-label form-label-left form-label-auto" id="label_5">
                            Name
                            <span class="contourIndicator form-required">*</span>
                        </label>
                        <div id="cid_5" class="form-input jf-required">
                            <input type="text" name="q5_name" id="input_5" class="text form-control form-textbox validate[required]" value="" maxlength="500" data-val="true" data-val-required="mandatory" data-type="input-textbox" />
                        </div>
                    </div>


                    <div class="contourField dateofbirth textfield mandatory alternating form-line jf-required" data-type="control_textbox" id="id_15">
                        <label for="input_15" class="fieldLabel form-label form-label-left form-label-auto" id="label_15">
                            Date of Birth
                            <span class="contourIndicator form-required">*</span>
                        </label>
                        <div id="cid_15" class="form-input jf-required">
                            <input type="text" name="q15_date" id="input_15"
                                   class="text form-control form-textbox validate[required, Fill Mask]" masked="true" data-type="input-textbox" />
                        </div>
                    </div>

                    <div class="contourField phonenumber textfield mandatory form-line jf-required" data-type="control_textbox" id="id_7">
                        <label for="input_7" class="fieldLabel form-label form-label-left form-label-auto" id="label_7">
                            Phone number
                            <span class="contourIndicator form-required">*</span>
                        </label>
                        <div id="cid_7" class="form-input jf-required">
                            <input type="text" name="q7_phoneNumber" id="input_7" class="text form-control form-textbox validate[required]" value="" maxlength="500" data-val="true" data-val-required="mandatory" data-type="input-textbox" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contourField postaladdress textarea mandatory alternating form-line jf-required" data-type="control_textarea" id="id_8">
                        <label for="input_8" class="fieldLabel form-label form-label-left form-label-auto" id="label_8">
                            Postal address
                            <span class="contourIndicator form-required">*</span>
                        </label>
                        <div id="cid_8" class="form-input jf-required">
                            <textarea name="q8_postalAddress" id="input_8"
                                      class="form-control form-textarea validate[required]" rows="4" cols="20" data-val="true" data-val-required="mandatory"></textarea>
                        </div>
                    </div>
                    <div class="contourField postcode textfield mandatory form-line jf-required" data-type="control_textbox" id="id_9">
                        <label for="input_9" class="fieldLabel form-label form-label-left form-label-auto" id="label_9">
                            Postcode
                            <span class="contourIndicator form-required">*</span>
                        </label>
                        <div id="cid_9" class="form-input jf-required">
                            <input type="text" name="q9_postcode"
                                   id="input_9" class="form-control text form-textbox validate[required]" value="" maxlength="500"
                                   data-val="true" data-val-required="mandatory" data-type="input-textbox" />
                        </div>
                    </div>
                    <div class="contourField email textfield mandatory alternating form-line jf-required" data-type="control_email" id="id_4">
                        <label for="input_4" class="fieldLabel form-label form-label-left form-label-auto" id="label_4">
                            Email
                            <span class="contourIndicator form-required">*</span>
                        </label>
                        <div id="cid_4" class="form-input jf-required">
                            <input type="text" name="q4_email"
                                   id="input_4" class="form-control text form-textbox validate[required, Email]" value="" maxlength="500"
                                   data-val="true" data-val-required="mandatory" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Original radio button html-->
            @*<div class="contourField whichpropertytypeareyouinterestedin radiobuttonlist mandatory row font-x-small bold justify-form-xs form-line" data-type="control_radio" id="id_10">
                    <div class="col-md-6 col-sm-6 col-xs-12">Which property type are you interested in?</div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                        <span class="radiobuttonlist" id="cid_10">
                                <label class="radio-inline form-radio-item">
                                    <input type="radio" class="contour-radio form-radio" name="q10_whichProperty"
                                           id="label_input_10_0" value="1 bed"/> 1 bed
                                </label>
                                <label class="radio-inline form-radio-item">
                                    <input type="radio" class="contour-radio form-radio" name="q10_whichProperty"
                                           id="label_input_10_1" value="2 bed" data-val="true"
                                           data-val-requiredlist="field is mandatory" /> 2 bed
                                </label>
                                <label class="radio-inline form-radio-item">
                                    <input type="radio" class="contour-radio form-radio" name="q10_whichProperty"
                                           id="label_input_10_2" value="no preference"
                                           data-val="true" data-val-requiredlist="field is mandatory" /> no preference
                                </label>
                            </span>
                    </div>
                    <hr class="form-rule"/>
                </div>*@



            <div class="contourField whichpropertytypeareyouinterestedin radiobuttonlist mandatory row font-x-small justify-form-xs form-line jf-required" data-type="control_radio" id="id_10">
                <label class="col-md-6 col-sm-6 col-xs-12 form-label form-label-left form-label-auto" id="label_10" for="input_10">
                    Which property type are you interested in?
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12 pull-right form-input jf-required" id="cid_10">
                    <div class="radiobuttonlist">
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_10_0" name="q10_whichProperty" value="1 bed" />
                            <label id="label_input_10_0" for="input_10_0"> 1 bed </label>
                        </span>
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_10_1" name="q10_whichProperty" value="2 bed" />
                            <label id="label_input_10_1" for="input_10_1"> 2 bed </label>
                        </span>
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_10_2" name="q10_whichProperty" value="no preference" />
                            <label id="label_input_10_2" for="input_10_2"> no preference </label>
                        </span>
                    </div>
                </div>
                <hr class="form-rule" />
            </div>

            <div class="contourField doyouhaveapropertytosell radiobuttonlist mandatory alternating row font-x-small bold justify-form-xs form-line jf-required" data-type="control_radio" id="id_11">
                <label class="col-md-6 col-sm-6 col-xs-12 form-label form-label-left form-label-auto" id="label_11" for="input_11">
                    Do you have a property to sell?
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12 pull-right form-input jf-required" id="cid_11">
                    <div class="radiobuttonlist">
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_11_0" name="q11_doYou" value="Yes" />
                            <label id="label_input_11_0" for="input_11_0"> Yes </label>
                        </span>
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_11_1" name="q11_doYou" value="No" />
                            <label id="label_input_11_1" for="input_11_1"> No </label>
                        </span>
                    </div>
                </div>
                <hr class="form-rule" />
            </div>

            <div class="contourField howwouldyouliketomoveintoyournewhome radiobuttonlist mandatory row font-x-small bold justify-form-xs form-line jf-required" data-type="control_radio" id="id_12">
                <label class="col-md-6 col-sm-6 col-xs-12 form-label form-label-left form-label-auto" id="label_12" for="input_12">
                    How would you like to move into your new home?
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12 pull-right form-input jf-required" id="cid_12">
                    <div class="radiobuttonlist">
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_12_0" name="q12_howWould" value="Rent" />
                            <label id="label_input_12_0" for="input_12_0"> Rent </label>
                        </span>
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_12_1" name="q12_howWould" value="Purchase" />
                            <label id="label_input_12_1" for="input_12_1"> Purchase </label>
                        </span>
                    </div>
                </div>
                <hr class="form-rule" />
            </div>

            <div class="contourField areyouhappytocontinuetorecievemoreinformationfromus radiobuttonlist mandatory alternating row font-x-small bold justify-form-xs form-line jf-required" data-type="control_radio" id="id_14">
                <label class="col-md-6 col-sm-6 col-xs-12 form-label form-label-left form-label-auto" id="label_14" for="input_14">
                    Are you happy to continue to recieve more information from us?
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12 pull-right form-input jf-required" id="cid_14">
                    <div class="radiobuttonlist">
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_14_0" name="q14_areYou" value="Yes" />
                            <label id="label_input_14_0" for="input_14_0"> Yes </label>
                        </span>
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_14_1" name="q14_areYou" value="No" />
                            <label id="label_input_14_1" for="input_14_1"> No </label>
                        </span>
                    </div>
                </div>
                <hr class="form-rule" />
            </div>

            <div class="contourField wouldyoubeinterestedinattendinganyforthcomingeventsforthisnewdevelopment radiobuttonlist mandatory row font-x-small bold justify-form-xs form-line jf-required" data-type="control_radio" id="id_13">
                <label class="col-md-6 col-sm-6 col-xs-12 form-label form-label-left form-label-auto" id="label_13" for="input_13">
                    Would you be interested in attending any forthcoming events for this new development?
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12 pull-right form-input jf-required" id="cid_13">
                    <div class="radiobuttonlist">
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_13_0" name="q13_wouldYou13" value="Yes" />
                            <label id="label_input_13_0" for="input_13_0"> Yes </label>
                        </span>
                        <span class="radio-inline form-radio-item">
                            <span class="dragger-item">
                            </span>
                            <input type="radio" class="form-radio validate[required]" id="input_13_1" name="q13_wouldYou13" value="No" />
                            <label id="label_input_13_1" for="input_13_1"> No </label>
                        </span>
                    </div>
                </div>
                <hr class="form-rule" />
            </div>













            @*<ul class="form-section page-section">
                    <li class="form-line jf-required" data-type="control_textbox" id="id_5">
                        <label class="form-label form-label-left form-label-auto" id="label_5" for="input_5">
                            Name
                            <span class="form-required">
                                *
                            </span>
                        </label>
                        <div id="cid_5" class="form-input jf-required">
                            <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="input_5" name="q5_name" size="20" value="" />
                        </div>
                    </li>
                    <li class="form-line form-line-column form-col-3 jf-required" data-type="control_datetime" id="id_6">
                        <label class="form-label form-label-top" id="label_6" for="input_6"> Date <span class="form-required"> * </span> </label>
                        <div id="cid_6" class="form-input-wide jf-required">
                            <div style="display:none">
                                <span class="form-sub-label-container" style="vertical-align: top">
                                    <input class="form-textbox validate[required]" id="day_6" name="q6_date[day]" type="tel" size="2" maxlength="2" value="" /> <span class="date-separate"> &nbsp;- </span>
                                    <label class="form-sub-label" for="day_6" id="sublabel_day" style="min-height: 13px;"> Day </label>
                                </span> <span class="form-sub-label-container" style="vertical-align: top">
                                    <input class="form-textbox validate[required]" id="month_6" name="q6_date[month]" type="tel" size="2" maxlength="2" value="" /> <span class="date-separate"> &nbsp;- </span>
                                    <label class="form-sub-label" for="month_6" id="sublabel_month" style="min-height: 13px;"> Month </label>
                                </span> <span class="form-sub-label-container" style="vertical-align: top"> <input class="form-textbox validate[required]" id="year_6" name="q6_date[year]" type="tel" size="4" maxlength="4" value="" /> <label class="form-sub-label" for="year_6" id="sublabel_year" style="min-height: 13px;"> Year </label> </span>
                            </div> <span class="form-sub-label-container" style="vertical-align: top"> <input class="form-textbox validate[required]" id="lite_mode_6" type="tel" size="12" maxlength="12" value="" format="ddmmyyyy" seperator="-" placeholder="dd-mm-yyyy" /> <label class="form-sub-label" for="lite_mode_6" id="sublabel_litemode" style="min-height: 13px;"> Date </label> </span> <span class="form-sub-label-container" style="vertical-align: top"> <img alt="Pick a Date" id="input_6_pick" src="https://cdn.jotfor.ms/images/calendar.png" align="absmiddle" /> <label class="form-sub-label" for="input_6_pick" style="min-height: 13px;"> </label> </span>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_textbox" id="id_7">
                        <label class="form-label form-label-left form-label-auto" id="label_7" for="input_7">
                            Phone Number
                            <span class="form-required">
                                *
                            </span>
                        </label>
                        <div id="cid_7" class="form-input jf-required">
                            <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="input_7" name="q7_phoneNumber" size="20" value="" />
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_textarea" id="id_8">
                        <label class="form-label form-label-left form-label-auto" id="label_8" for="input_8">
                            Postal address
                            <span class="form-required">
                                *
                            </span>
                        </label>
                        <div id="cid_8" class="form-input jf-required">
                            <textarea id="input_8" class="form-textarea validate[required]" name="q8_postalAddress" cols="40" rows="6"></textarea>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_textbox" id="id_9">
                        <label class="form-label form-label-left form-label-auto" id="label_9" for="input_9">
                            Postcode
                            <span class="form-required">
                                *
                            </span>
                        </label>
                        <div id="cid_9" class="form-input jf-required">
                            <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="input_9" name="q9_postcode" size="20" value="" />
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_email" id="id_4">
                        <label class="form-label form-label-left form-label-auto" id="label_4" for="input_4">
                            E-mail
                            <span class="form-required">
                                *
                            </span>
                        </label>
                        <div id="cid_4" class="form-input jf-required">
                            <input type="email" class=" form-textbox validate[required, Email]" id="input_4" name="q4_email" size="30" value="" />
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_10">
                        <label class="form-label form-label-left form-label-auto" id="label_10" for="input_10"> Which property type are you interested in? </label>
                        <div id="cid_10" class="form-input jf-required">
                            <div class="form-single-column">
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_10_0" name="q10_whichProperty" value="1 bed" />
                                    <label id="label_input_10_0" for="input_10_0"> 1 bed </label>
                                </span>
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_10_1" name="q10_whichProperty" value="2 bed" />
                                    <label id="label_input_10_1" for="input_10_1"> 2 bed </label>
                                </span>
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_10_2" name="q10_whichProperty" value="no preference" />
                                    <label id="label_input_10_2" for="input_10_2"> no preference </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_11">
                        <label class="form-label form-label-left form-label-auto" id="label_11" for="input_11"> Do you have a property to sell? </label>
                        <div id="cid_11" class="form-input jf-required">
                            <div class="form-single-column">
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_11_0" name="q11_doYou" value="Yes" />
                                    <label id="label_input_11_0" for="input_11_0"> Yes </label>
                                </span>
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_11_1" name="q11_doYou" value="No" />
                                    <label id="label_input_11_1" for="input_11_1"> No </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_12">
                        <label class="form-label form-label-left form-label-auto" id="label_12" for="input_12"> How would you like to move into your new home? </label>
                        <div id="cid_12" class="form-input jf-required">
                            <div class="form-single-column">
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_12_0" name="q12_howWould" value="Rent" />
                                    <label id="label_input_12_0" for="input_12_0"> Rent </label>
                                </span>
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_12_1" name="q12_howWould" value="Purchase" />
                                    <label id="label_input_12_1" for="input_12_1"> Purchase </label>
                                </span>
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_12_2" name="q12_howWould" value="Part-Purchase" />
                                    <label id="label_input_12_2" for="input_12_2"> Part-Purchase </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_14">
                        <label class="form-label form-label-left form-label-auto" id="label_14" for="input_14"> Are you happy to continue to recieve more information from us? </label>
                        <div id="cid_14" class="form-input jf-required">
                            <div class="form-single-column">
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_14_0" name="q14_areYou" value="Yes" />
                                    <label id="label_input_14_0" for="input_14_0"> Yes </label>
                                </span>
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_14_1" name="q14_areYou" value="No" />
                                    <label id="label_input_14_1" for="input_14_1"> No </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_radio" id="id_13">
                        <label class="form-label form-label-left form-label-auto" id="label_13" for="input_13"> Would you be interested in attending any forthcoming events for this new development? </label>
                        <div id="cid_13" class="form-input jf-required">
                            <div class="form-single-column">
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_13_0" name="q13_wouldYou13" value="Yes" />
                                    <label id="label_input_13_0" for="input_13_0"> Yes </label>
                                </span>
                                <span class="form-radio-item" style="clear: left;">
                                    <span class="dragger-item">
                                    </span>
                                    <input type="radio" class="form-radio" id="input_13_1" name="q13_wouldYou13" value="No" />
                                    <label id="label_input_13_1" for="input_13_1"> No </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_button" id="id_2">
                        <div id="cid_2" class="form-input-wide">
                            <div style="margin-left: 156px" class="form-buttons-wrapper">
                                <button id="input_2" type="submit" class="form-submit-button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </li>
                    <li style="display: none">
                        Should be Empty:
                        <input type="text" name="website" value="" />
                    </li>
                </ul>*@



            <div class="contourNavigation">
                <input type="submit" id="submit" class="btn btn-lg btn-default uppercase bg-magenta default-white pull-right form-btn" value="Submit" />
            </div>


            <input type="hidden" id="simple_spc" name="simple_spc" value="@jotFormId" />
            <script type="text/javascript">
                document.getElementById("si" + "mple" + "_spc").value = "@jotFormValueDashValue";
            </script>
        </form>
        <script type="text/javascript">JotForm.ownerView = true;</script>
        <script type="text/javascript">JotForm.forwardToEu = true;</script>







        @*Umbraco contour form code*@

        @*@{
                var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
            }
            @umbracoHelper.RenderMacro("umbracoContourRazorRenderForm", new { FormGuid = "e1983bf4-6419-4aea-ab34-76fc329b3a9d" })*@

        @*Original form code*@

        @*<div class="font-x-small padding-x30 padding-x20-xs">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </form>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Date of Birth</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </form>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Phone number</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Contact address</label>
                                <textarea class="form-control" rows="3" placeholder="" required></textarea>
                            </div>
                        </form>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Postcode</label>
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row font-x-small bold justify-form-xs">
                    <div class="col-md-6 col-sm-6 col-xs-12">Which property type are you interested in?</div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" value="1" id="radio-one" name="propertyType">1 bed
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="2" id="radio-one" name="propertyType">2 bed
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="3" id="radio-one" name="propertyType">no preferences
                        </label>
                    </div>
                    <hr class="form-rule">
                </div>
                <div class="row font-x-small bold justify-form-xs">
                    <div class="col-md-6 col-sm-6  col-xs-12">Do you have a property to sell?</div>
                    <div class="col-md-6 col-sm-6  col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" value="1" name="propertySell">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="2" name="propertySell">No
                        </label>
                    </div>
                    <hr class="form-rule">
                </div>
                <div class="row font-x-small bold justifyform-xs">
                    <div class="col-md-6 col-sm-6  col-xs-12">How would you like to move into your new home?</div>
                    <div class="col-md-6 col-sm-6  col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" value="1" name="moveIntoHome">rent
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="2" name="moveIntoHome">purchase
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="3" name="moveIntoHome">part-purchase
                        </label>
                    </div>
                    <hr class="form-rule">
                </div>
                <div class="row font-x-small bold justify-form-xs">
                    <div class="col-md-6 col-sm-6  col-xs-12">Are you happy to continue to recieve more information about Wellesley Court?</div>
                    <div class="col-md-6 col-sm-6  col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" value="1" name="infoWellesley">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="2" name="infoWellesley">No
                        </label>
                    </div>
                    <hr class="form-rule">
                </div>
                <div class="row font-x-smal bold justify-form-xs">
                    <div class="col-md-6 col-sm-6 col-xs-12"> Would you be interested in attending any forthcoming events for this new deveopment?</div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" value="1" name="eventAttendance">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="2" name="eventAttendance">No
                        </label>
                    </div>
                    <hr class="form-rule">
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 hidden-xs hidden-sm"> <a href="#" class="btn btn-lg btn-default uppercase bg-magenta default-white pull-right form-btn">send</a> </div>
                    <div class="col-md-12 col-xs-12 visible-sm"> <a href="#" class="btn btn-lg btn-default uppercase bg-magenta default-white pull-right form-btn">send</a> </div>
                    <div class="col-md-12 col-xs-12 visible-xs"> <a href="#" class="btn btn-lg btn-default uppercase bg-magenta default-white pull-right form-btn" style="width:100%">send</a> </div>
                </div>
            </div>*@
    </div>

</div>