﻿@inherits UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>MHA / Bringing quality to later life</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/typography.css" rel="stylesheet">
    <link href="/css/slider.css" rel="stylesheet">
    <link href="/css/mediaQueries.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/d0d4183c-fedc-47b0-bd88-5ee097b1ab73.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/d0d4183c-fedc-47b0-bd88-5ee097b1ab73.js"></script>


    <!--Jot form code-->
    <script src="https://cdn.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.12975" type="text/javascript"></script>
    <script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
    <script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.12961" type="text/javascript"></script>
    <script type="text/javascript">
        JotForm.init(function () {
            JotForm.setInputTextMasking('input_15', '##/##/####');
            setTimeout(function () { $('input_4').hint('ex: myname@example.com'); }, 20);
            JotForm.clearFieldOnHide = "disable";
            JotForm.onSubmissionError = "jumpToFirstError";
        });
    </script>

    <link href="/css/JotForm/jotform.css" rel="stylesheet">
    <link href="/css/JotForm/nova.css" rel="stylesheet">
    <link href="/css/JotForm/custom.css" rel="stylesheet">


    <style type="text/css">
        /*.form-label-left {
            width: 150px !important;
        }*/

        .form-line {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .form-radio-item label,
        .form-checkbox-item label,
        .form-grading-label,
        .form-header {
            color: #555;
        }
    </style>
    <!--Jot form code end-->

</head>
<body>
    @RenderBody()
    <!-- Navigation is hidden for Phase 1

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>

        </nav>-->
    <div class="bottomMenu default-color text-center" style="padding-bottom:10px;"><a href="#bottom" id="top" class="btn btn-lg btn-default uppercase bg-magenta default-white" style="margin-top: 10px">REGISTER YOUR INTEREST</a></div>
    <!-- /******** HIDDEN DIV ********/ -->
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script type="text/javascript">
        $("#61191590166355").submit(function (ev) { ev.preventDefault(); });
        $("#submit").on("click", function () {

            var bootstrapValidator = $("#61191590166355").data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid())
                $("#61191590166355").submit();
            else return;

        });
        </script>*@


    <script src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/scripts.js"></script>
    <script type="text/javascript">

        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 400) {
                $('.bottomMenu').fadeIn();
            } else {
                $('.bottomMenu').fadeOut();
            }

        });

        $(document).ready(function () {
            if ($("#carousel-indicator").children().length == 1) {
                $("#carousel-indicator").css("display", "none");
                $("#left-carousel-arrow").css("display", "none");
                $("#right-carousel-arrow").css("display", "none");
            };

            if ($(".field-validation-error")[0]) {
                document.getElementById("bottom").scrollIntoView();
            }

            $('.field-validation-error').each(function () {
                $(this).css("color", "red");
            });

        });
    </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    @Html.Raw(Model.Content.GetPropertyValue("insertIntoPageBody"))


</body>
</html>