/******************************************************************
	GLOBAL STYLESHEET
  *****************************************************************/


/*------------------------------
	Default Styles
------------------------------*/

body {
	/*height: 100%; */
	overflow-x:hidden;
	
}

.textfield
{margin-bottom:10px;
}

.textarea
{margin-bottom:10px;
}

.radiobuttonlist label
{
    /*float:left; padding-left:10px;  margin-right: 25px;*/
    padding-right: 10px;
      font-weight: bold;
}

.contour-radio
{float:left; display:block; margin-left:10px;
}

.register-header
{  width: 80%;
  position: relative;
  left: 10%;
}


.child{
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border:yellow solid 1px;
}

/*.header-img {	 THIS DIDNT WORK
   background: url(../img/hero-1.jpg) no-repeat center center fixed; 
   background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 0 0;
}*/

.header-img { 
  background: url(../img/hero-1.jpg) no-repeat center center;
  background-attachment: center;
   background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 0 0;
}


.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.padding-0 {padding-left: 0px;padding-right: 0px;}

.padding-x5 {padding:5px;}
.padding-x10 {padding:10px;}
.padding-x20 {padding:20px;}
.padding-x30 {padding:30px;}
.padding-x40 {padding:40px;}
.padding-x50 {padding:50px;}

.padding-top-x10 {padding-top:10px;}
.padding-top-x20 {padding-top:20px;}
.padding-top-x30 {padding-top:30px;}

.padding-right-x10 {padding-right:10px;}
.padding-right-x20 {padding-right:20px;}
.padding-right-x30 {padding-right:30px;}
.padding-right-x40 {padding-right:40px;}
.padding-right-x50 {padding-right:50px;}

.img-responsive { width: 100%:}

.btn-group-lg>.btn, .btn-lg {
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
border-radius: 0px;
border:0px solid;
}

hr {
  border: 0;
  width: 50%;
  color: #bab5af;
  background-color: #bab5af;
  height: 1px;
  margin-top: 12px;
}



/*------------------------------
	Colour Palette
------------------------------*/


.default-white { color: white;}

.bg-magenta { background-color:#9e0054}
.bg-savannah-biege { background-color:#797365}
.bg-sand-biege { background-color:#e0ddd8}
.bg-mushroom-brown { background-color: #7c715d}

.color-magenta { color:#a61864}
.color-savannah-biege { color:#797365}
.color-sand-biege { color:#e0ddd8}
.color-mushroom-brown { color: #7c715d}

.bold { font-weight: bold;font-family:"Humanist_521 W03 Rom";}
.medium { font-weight: 400;line-height: 23px}
.light {font-weight: 100;}

/*------------------------------
	Header
------------------------------*/

.component-header {
	-webkit-box-shadow: 1px 46px 48px -43px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 46px 48px -43px rgba(0,0,0,0.1);
	box-shadow: 1px 46px 48px -43px rgba(0,0,0,0.1); 
	border-top:6px #a61864 solid; 
	height:110px;}

.component-header img { margin-top: 10px;}

.nested-block {height:/*290px*/350px; margin-top:20%;}

.nested-header {
	background-color:rgba(255, 255, 255, 0.8);
	background: rgba(255, 255, 255, 0.7); /* browsers */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); /* IE */}
.nested-bar {background-color:#9e0054; height: 70px;}
.nested-panel { 
	position: relative;
  top: 10%;
  
 /* transform: translateY(-15%); 
  -webkit-transform-style:  translateY(-15%);
  -moz-transform-style: translateY(-15%);*/

   font-size: 22px;
  font-weight: 100;
  font-family:"Humanist_521 W01 Light"; 
  width: 85%;
  left: 6%;}

.fade-me-hover:hover {opacity: 0.5;}

.nested-bar p { 
  position: relative;
  top: 30%;
  
   /* transform: translateY(-30%); 
  -webkit-transform-style:  translateY(-30%);
  -moz-transform-style:  translateY(-30%);*/


  font-size: 24px; 
  font-weight: 100;
  font-family:"Humanist_521 W01 Light"
}

.btn-default {-o-transition:color .1s ease-out, background .3s ease-in;
  	-ms-transition:color .1s ease-out, background .3s ease-in;
  	-moz-transition:color .1s ease-out, background .3s ease-in;
  	-webkit-transition:color .1s ease-out, background .3s ease-in;}

.btn-default:hover {
	color: #000;
	-o-transition:color .1s ease-out, background .3s ease-in;
  	-ms-transition:color .1s ease-out, background .3s ease-in;
  	-moz-transition:color .1s ease-out, background .3s ease-in;
  	-webkit-transition:color .1s ease-out, background .3s ease-in;
	border-color: #7c715d;}


/*------------------------------
	Form
------------------------------*/


.contact-address { height:110px;}
.form-btn {width: 200px;}
.form-control { border-radius: 0px;}
.form-rule {width:97%; margin-top:30px;}



label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: 400;
font-family: "Humanist_521 W01 Light";
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    /*background-color: #d1d3d1;*/
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #9e0054;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


/*------------------------------
	Footer
------------------------------*/	

.footer {-webkit-box-shadow: -2px -24px 21px -26px rgba(0,0,0,0.1);
-moz-box-shadow: -2px -24px 21px -26px rgba(0,0,0,0.1);
box-shadow: -2px -24px 21px -26px rgba(0,0,0,0.1);}

.footer a { color: #000; text-decoration: none;}

.footer, .push {
	height: 0px; /* .push must be the same height as .footer */
}


body {
  padding-top: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
 .bottomMenu {
        display: none;
        position: fixed;
        background-color: white;
        top: 0;
        width: 100%;
        height: 70px;
        border-top: 1px solid #000;
        z-index: 100;
        -webkit-box-shadow: -2px 18px 5px -13px rgba(0,0,0,0.24);
        -moz-box-shadow: -2px 18px 5px -13px rgba(0,0,0,0.24);
        box-shadow: -2px 18px 5px -13px rgba(0,0,0,0.24);
      }

.error-template {padding: 40px 15px;text-align: center;}
.thank-you-top {margin-top:25%;}