@media screen and (max-width: 320px) {


.nested-bar p { 
  position: relative;  
  top: 30%;
  /*transform: translateY(-30%); 
  -webkit-transform-style:  translateY(-30%);
  -moz-transform-style:  translateY(-30%);*/
  font-size: 13px!important;  
  font-weight: 100;
}


}


@media screen and (max-width: 900px) {

.nested-panel { 
  position: relative;
  top: 15%;
  color: black;
 /* transform: translateY(-20%); 
  -webkit-transform-style:  translateY(-20%);
  -moz-transform-style: translateY(-20%);*/
  font-size: 18px; 
  font-weight: 100;
  padding-left: 25px;
  padding-right: 25px;
     }


}






@media screen and (max-width: 530px) {

.thank-you-top {margin-top:45%;}


.header-img { 
   background: url(../img/hero-1-mobile.jpg); 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-position: -50px 0px; }

.nested-bar p { 
  position: relative;
  top: 30%;
  /*transform: translateY(-30%); 
  -webkit-transform-style:  translateY(-30%);
  -moz-transform-style:  translateY(-30%);*/
  font-size: 14px;  
  font-weight: 100;
}

.nested-panel { 
  position: relative;
  top: 5%;
 /* transform: translateY(-20%); 
  -webkit-transform-style:  translateY(-20%);
  -moz-transform-style: translateY(-20%);*/
  font-size: 14px; 
  font-weight: 100;
  padding-left: 25px;
  padding-right: 25px;
     }

.form-btn-xs {width:100%;}

.nested-block {
 height: /*250px*/425px;
margin-top: 70%;
}

hr {
  border: 0;
  width: 100%;
  color: #bab5af;
  background-color: #bab5af;
  height: 1px;
  margin-top: §2px;
}


.carousel-control.right {right: -10px;
background-image: none;
text-shadow: none;}

.carousel-control.left {left: -20px;
background-image: none;
text-shadow: none;}


.padding-x5-xs {padding:5px;}
.padding-x10-xs {padding:10px;}
.padding-x20-xs {padding:20px;}
.padding-x30-xs {padding:30px;}
.padding-x40-xs {padding:40px;}
.padding-x50-xs {padding:50px;}

}


@media screen and (max-width: 930px) {

.carousel-control.right {right: -10px;
background-image: none;
text-shadow: none;}

.carousel-control.left {left: -20px;
background-image: none;
text-shadow: none;}


}

@media screen and (max-width: 870px) {

.justify-form-xs { text-align: center; margin-bottom: 6px; }
/*.justify-form-xs div { padding-top: 5px; }*/
.form-rule {width:97%; margin-top:70px;}

.radiobuttonlist label
{ float:none; padding-left:10px;
}

}







