.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

.carousel p {font-family:"Humanist_521 W01 Light"; font-size: 15px;padding-top: 10px}

/* The controlsy */
.carousel-control {
	left: -12px;
    
    margin-top: 90px;

}

.carousel-control.left, .carousel-control.right{ 
background: none !important; 
filter: progid:none !important; 
}


.carousel-control.right {
	right: -160px;text-shadow: none;
}

.carousel-control.left {
	left: -160px; text-shadow: none;
}

span.carousel-header{ font-size: 23px;
font-family: "Humanist_521 W03 Rom";
}


/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #9e0054;
}


.fa-angle-left {
    color: #797365; font-size: 65px!important;
}

.fa-angle-right {
    color: #797365; font-size: 65px!important;
}


.thumbnail {border: 1px solid #ddd;background-color: #e0ddd8;border-radius: 0px;}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {border-color:#e0ddd8;-webkit-box-shadow: 1px 1px 30px 0px rgba(186, 181, 175, 1);
-moz-box-shadow:    1px 1px 30px 0px rgba(186, 181, 175, 1);
box-shadow:         1px 1px 30px 0px rgba(186, 181, 175, 1); border-radius: 0px;}


.carousel-inner {
  -webkit-transform-style: preserve-3d;
}