/*********************************
	TYPOGRAPHY STYLESHEET
  ********************************/
  
  
/*-------------------------------
	Webfonts
  -------------------------------*/

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d0d4183c-fedc-47b0-bd88-5ee097b1ab73");
@font-face{
font-family:"Humanist_521 W01 Light";
src:url("../Fonts/615f6372-b228-488d-af1e-0b47fbbc1347.eot?#iefix");
src:url("../Fonts/615f6372-b228-488d-af1e-0b47fbbc1347.eot?#iefix") format("eot"),url("../Fonts/2f885745-eb6d-44c9-858c-6dac1c0ba5a1.woff2") format("woff2"),url("../Fonts/8b53ef19-d0ba-4458-93be-790c207e5b19.woff") format("woff"),url("Fonts/e245f364-7914-49d5-b5f5-baf4a52c4eed.ttf") format("truetype"),url("Fonts/b14902d5-651c-492c-9f8d-e66e88efd307.svg#b14902d5-651c-492c-9f8d-e66e88efd307") format("svg");
}
@font-face{
font-family:"Humanist_521 W03 Rom";
src:url("../Fonts/4503ef13-f3e3-4ed2-ac71-a118eb8181e9.eot?#iefix");
src:url("../Fonts/4503ef13-f3e3-4ed2-ac71-a118eb8181e9.eot?#iefix") format("eot"),url("../Fonts/dd458331-48c7-41ff-9dc0-5d69a7aa0a23.woff2") format("woff2"),url("../Fonts/b18eb9cb-0d2b-4d4c-a9d1-e292821c9fca.woff") format("woff"),url("Fonts/129ebbfb-5f8f-400f-8c79-59b5927858a7.ttf") format("truetype"),url("Fonts/83283ab3-e0b7-4898-ba8f-aea49fd1d7f0.svg#83283ab3-e0b7-4898-ba8f-aea49fd1d7f0") format("svg");
}
@font-face{
font-family:"Humanist_521 W03 Bd";
src:url("../Fonts/48032904-0834-4269-a2db-586fa3452101.eot?#iefix");
src:url("../Fonts/48032904-0834-4269-a2db-586fa3452101.eot?#iefix") format("eot"),url("../Fonts/86e2775a-0f6b-4883-8c07-5dd6c49a6c7d.woff2") format("woff2"),url("../Fonts/c7911637-cdc7-4004-a80f-47d974790ac5.woff") format("woff"),url("Fonts/976443f9-a1ec-4349-9530-e0e5855ab95f.ttf") format("truetype"),url("Fonts/aaa6b9c3-e5f1-4f14-8e67-c5bf928ae33f.svg#aaa6b9c3-e5f1-4f14-8e67-c5bf928ae33f") format("svg");
}
  

.humanist-light {font-family:"Humanist_521 W01 Light"}
.humanist-roman {font-family:"Humanist_521 W03 Rom";}
.humanist-bold {font-family:"Humanist_521 W03 Bd";}


h2, h3, h4, h5 {font-family:"Humanist_521 W01 Light"}

address {font-family:"Humanist_521 W01 Light" ;font-size: 17px;}

p { font-family:"Humanist_521 W01 Light";font-size: 17px}
footer {font-family:"Humanist_521 W01 Light"}


.primary-size, 
.secondary-size { 
		margin: 10px;}

.uppercase {text-transform: uppercase; margin:0px;}

.font-large { font-size: 25px;line-height: 30px; font-weight: 100;font-family:"Humanist_521 W01 Light"}
.font-x-large {font-size:30px;line-height: 30px; font-weight: 100}
.font-xx-large {font-size:45px;font-weight: 100;}

.font-small {font-size: 15px;}
.font-x-small {  font-size: 14.2px;font-family:"Humanist_521 W01 Light"}
.font-xx-small {}

.font-medium {font-size: 18px;font-family:"Humanist_521 W01 Light"}


.uppercase { 
	text-transform: uppercase;
}


