﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="3;URL=/">
    <link rel="icon" href="../../favicon.ico">
    <title>MHA / Thank you</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/typography.css" rel="stylesheet">
    <link href="/css/slider.css" rel="stylesheet">
    <link href="/css/mediaQueries.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/d0d4183c-fedc-47b0-bd88-5ee097b1ab73.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/d0d4183c-fedc-47b0-bd88-5ee097b1ab73.js"></script>
    @Html.Raw(Model.Content.GetPropertyValue("insertIntoPageHead"))
</head>

<style type="text/css">
    .thank-you {
        background: url(../img/hero-1.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<body class="thank-you">

    <div class="row humanist-roman">
        <div class="col-md-12">
            <div class="row thank-you-top">
                <div class="col-md-12 bg-magenta default-white">
                    <div class="error-template humanist-light">
                        <h1 class="bold">
                            Thank you for registering!
                        </h1>
                        <h2>
                            We will be in touch very shortly...
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/scripts.js"></script>
    <script type="text/javascript">

        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 400) {
                $('.bottomMenu').fadeIn();
            } else {
                $('.bottomMenu').fadeOut();
            }

        });

        $(document).ready(function () {
            if ($("#carousel-indicator").children().length == 1) {
                $("#carousel-indicator").css("display", "none");
                $("#left-carousel-arrow").css("display", "none");
                $("#right-carousel-arrow").css("display", "none");
            };

            if ($(".field-validation-error")[0]) {
                document.getElementById("bottom").scrollIntoView();
            }

            $('.field-validation-error').each(function () {
                $(this).css("color", "red");
            });

        });
    </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  

@Html.Raw(Model.Content.GetPropertyValue("insertIntoPageBody"))
</body>