@model Umbraco.Forms.Mvc.Models.FieldViewModel       
<span class="radiobuttonlist" id="@Model.Id">
@foreach (Umbraco.Forms.Mvc.Models.PrevalueViewModel pv in Model.PreValues)  
{
    <label class="radio-inline">
        <input type="radio" class="contour-radio" name="@Model.Id" id="@string.Concat(Model.Id, "_", pv.Id)" value="@pv.Value"
               @if (Model.Mandatory)
               {
                   <text> data-val="true" data-val-requiredlist="field is mandatory" </text>
               }
               @if (Model.ContainsValue(pv.Value))
               {
                   <text> checked="checked" </text>
               } />
               @pv.Value
    </label>


}
</span>