@inherits System.Web.Mvc.WebViewPage<Umbraco.Forms.Mvc.Models.FormViewModel>
    @using System.Web.Mvc
    @using System.Web.Mvc.Html
    @using Umbraco.Forms.Core
    @using Umbraco.Forms.Mvc.Models
    @using Umbraco.Forms.Mvc.BusinessLogic
    @using Umbraco.Forms.MVC.Extensions

    @if (Model.SubmitHandled)
    {
    <p class="contourMessageOnSubmit">@Html.Raw(Model.MessageOnSubmit)</p>
    }
    else
    {
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    @Html.Partial(FormViewResolver.GetScriptView(Model.FormId), Model)

    if (!Model.DisableDefaultStylesheet)
    {
    <link rel="stylesheet" type="text/css" href="@Url.Content(" ~ />umbraco/plugins/umbracocontour/css/jquery-ui-1.8.18.custom.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content(" ~ />umbraco/plugins/umbracocontour/css/defaultform.css")" />
    }
    <div id="contour_form_@{@Model.FormName.Replace(" "," ")}" class="contour @Model.CssClass font-x-small padding-x30 padding-x20-xs">
        @using (Html.BeginForm("ContourForm", "FormRender", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.FormId)

        <input type="hidden" name="FormStep" id="FormStep" value="@Model.FormStep" />

        <input type="hidden" name="NextStep" id="NextStep" value="" />
        <input type="hidden" name="PrevStep" id="PrevStep" value="" />

        <input type="hidden" name="RecordId" id="RecordId" value="@Model.RecordId" />
        <input type="hidden" name="PreviousClicked" id="PreviousClicked" value="@Model.PreviousClicked" />


        <div class="contourPage" >
            @if (Model.ShowValidationSummary)
            {
            @Html.ValidationSummary(false)
            }
            @foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
            {
            <fieldset class="contourFieldSet">
                @{ var fieldCount = 1; }
                @foreach (FieldViewModel f in fs.Fields)
                {
                    if (fieldCount >= 1 && fieldCount <= 6)
                    {
                        if (fieldCount == 1)
                        {
                            @:<div class="row">
                            @:<div class="col-md-6 col-sm-12" style="margin-bottom:40px;">
                        }

                        if (fieldCount == 4)
                        {
                            @:</div>
                            @:<div class="col-md-6">
                        }

                        @FieldTypeHelper(f);

                        if (fieldCount == 6)
                        {
                            @:</div>
                            @:</div>
                        }
                    }
                    else
                    {
                        @FieldTypeHelperRadioButtonList(f);
                    }
                    fieldCount++;
                }
            </fieldset>
            }
            <div class="contourField" style="display:none;">

                <label for="@Model.FormId">Message</label>
                <div>
                    <input type="text"  class="form-control" id="@Model.FormId" name="@Model.FormId" />
                </div>
            </div>
        </div>

        <div class="contourNavigation">
            @if (Model.IsMultiPage)
            {
            if (!Model.IsFirstPage)
            {
            <input class="cancel" type="submit" value="@Model.PreviousCaption" onclick="document.getElementById('PreviousClicked').value = 'back'" />
            }
            if (!Model.IsLastPage)
            {
            <input type="submit" class="btn btn-lg btn-default uppercase bg-magenta default-white pull-right form-btn" value="@Model.NextCaption" />
            }
            }
            @if (Model.IsLastPage)
            {
            <input type="submit" class="btn btn-lg btn-default uppercase bg-magenta default-white pull-right form-btn" value="@Model.SubmitCaption" />
            }
        </div>

        }
    </div>
    }

    @helper FieldTypeHelper(FieldViewModel f)
    {
        bool hidden = f.HasCondition && f.ConditionActionType == FieldConditionActionType.Show;
    <div class="@f.CssClass" @{if (hidden){<text> style="display: none"</text>}}>
        @if(!f.HideLabel){<label for="@f.Id" class="fieldLabel"  >@Html.Raw(f.Caption) @if (f.ShowIndicator){<span class="contourIndicator">@Model.Indicator</span>}</label>}
        <div>@Html.Partial(FieldViewResolver.GetFieldView(Model.FormId, f.FieldTypeName, f.Caption), f)
        @if (Model.ShowFieldValidaton){@Html.ValidationMessage(f.Id)}</div>
        @if (!string.IsNullOrEmpty(f.ToolTip)){<small>@Html.Raw(f.ToolTip)</small>}
    </div>
    }

    @helper FieldTypeHelperRadioButtonList(FieldViewModel f)
    {
        bool hidden = f.HasCondition && f.ConditionActionType == FieldConditionActionType.Show;
        <div class="@f.CssClass row font-x-small bold justify-form-xs" @{if (hidden) { <text> style="display: none" </text> }}>
            @if (!f.HideLabel)
            {
                <div class="col-md-6 col-sm-6 col-xs-12">@Html.Raw(f.Caption)</div>
            }
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                @Html.Partial(FieldViewResolver.GetFieldView(Model.FormId, f.FieldTypeName, f.Caption), f)
                @if (Model.ShowFieldValidaton)
                {@Html.ValidationMessage(f.Id)}
            </div>
            @if (!string.IsNullOrEmpty(f.ToolTip))
            {<small>@Html.Raw(f.ToolTip)</small>}
            <hr class="form-rule">
        </div>
}

        <script>

        </script>
